.vscode

# src
**/**/**/build/
**/**/**/install/
**/**/**/log/

# python package
*/*/*/*/*/__pycache__

# src cpp package 
*/*/*/*/*/build/
*/*/*/*/*/install/
*/*/*/*/*/log/

# python cache 
*/*/*/*/__pycache__/
